<h1>ランディングページ</h1>
 <div class="unlogin_right">
               <%= link_to "ログイン", new_user_session_path, class: "btn btn--orange btn--shadow" %>
               <%= link_to "新規登録", new_user_registration_path, class:  "btn btn--blue btn--shadow" %>
</div>

 <%= link_to "タイムラインを見学してみる！", researches_path, class: "side-bar-content" %>