    <header>
      <div class="headder-content">
        <div class="headder-left">
          <a href="/"><img src="/images/research.png" alt="ツクッターロゴ" class="headder-logo"></a>
          <a class="headder-name" href="/">ツクッター</a>
        </div>
        <div class="headder-right">
          <a href="/"><img src="/images/icon.png" alt="アカウント" class="headder-account"></a>
          <a class="account-name" href="/">ユーザー名</a>
        </div>
      </div>
    </header>