        <div class="post-function">
          <a href="/"><img src="/images/icon.png" alt="アイコン" class="account-icon"></a>
          <%= form_with(model: @tweet, local: true) do |form| %>
            <%= form.text_area :tweet,placeholder: "面白いことや、不思議に思ったことはあったかな？", class: "tweet-content-form" %>
            <%= form.submit "つぶやく", class: "tweet-send" %>
          <%end%>
        </div>        