          <div class="content-post-area">
            <div class="content-post" >
              <div class="content-post-left">
                <a href="/"><img src="/images/icon.png" alt="アイコン" class="contributor-icon"></a>
              </div>
              <div class="content-post-right">
                <div class="content-post-right-top">
                  <p class="contributor-name">投稿者名</p>
                  <p class="time">投稿時間</p>
                </div>
                <p class="tweet-string"><%= tweet.tweet %></p>
              </div>

            </div>
            <div class="content-post-bottom">
              <div class="tweet-good-area">
                <a href="/"><img src="/images/heart.png" alt="いいね！" class="tweet-good"></a>
              </div>
              <div class="tweet-comment-area">
                <a href="/"><img src="/images/comment.png" alt="コメントする" class="tweet-comment"></a>
              </div>
            </div>
          </div>