        <div class="post-function">
          <a href="/"><img src="/images/icon.png" alt="アイコン" class="account-icon"></a>
          <form class="tweet-form">
            <textarea name="tweet" placeholder="面白いことや、不思議に思ったことはあったかな？" class="tweet-content-form"></textarea>
            <input type="submit" value="つぶやく" class="tweet-send">
          </form>
        </div>