<div class="contents row">
  <div class="success">
    <h1>講師申請が完了しました。</h1>
    <h1 class="warn">申請が承認されましたら、ステータスが更新され、ユーザ名の左側に講師アイコンが付与されます。</h1>
    <%= link_to "戻る", tweets_path, class: "btn" %>
  </div>
</div>