// Place all the styles related to the operations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-post-area-ope {
  width: 80vw;
  height: 35vh;
  margin-top: 10px;
  background-color: #fad9e9;
}

.flex {
  display: flex;
  margin-top: 20px;
}

.auth {
  margin: 30px;
}

.identification_icon {
  width: 20vh;
  height: 20vh;
}
