.contents{
  display: flex;
  background-image:url("/images/back.jpg");
  background-size: cover;
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
  height:100vh;
}
.contents_sign_up{
  display: flex;
  background-image:url("/images/back.jpg");
  background-size: cover;
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
  height:180vh;
}

.contents_edit{
  display: flex;
  background-image:url("/images/back.jpg");
  background-size: cover;
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
  height:300vh;
}

.left_back{
  width:25vw;
}

.middle_back{
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
  text-align: center;
  width:50vw;
}

.page_top{
  color:#383e4e;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:40px;
  font-weight:800;
}

.field{
  margin-top: 35px;
  font-family:"MS PGothic", "Osaka", Arial, sans-serif;
  font-size:30px;
  color:#383e4e;
  font-weight:800;
}

.btn{
  font-family:"MS PGothic", "Osaka", Arial, sans-serif;
}

.btn-n{
  font-family:"MS PGothic", "Osaka", Arial, sans-serif;
  border-style: none;
}

.btn--orange {
  color: #fff;
  background-color: tomato;
  border-bottom: 5px solid #b84c00;
  padding:10px;
  margin-right:10px;
  height:45px;
  
}
.btn--orange:hover {
  color: #fff;
  background: tomato;
  border-bottom: 2px solid #b84c00;
}

.btn--blue {
  color: #fff;
  background-color: royalblue;
  border-bottom: 5px solid #383e4e;
  padding:10px;
  height:50px;
}

.btn--blue:hover {
  color: #fff;
  background: royalblue;
  border-bottom: 2px solid #383e4e;
}

.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  font-size:15px;
}

.title{
  color:cyan;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:65px;
  font-weight:900;
  background-color:rgba(255,0,0,0.5);
}

*{
  text-decoration: none;
}

.rogo {
  background-image:url("/images/research.png");
  border: 1px solid white;
  width:  70px;
  height: 70px;
  border-radius: 90%;
  background-position: center center;
  background-size: contain;
  background-color:#f0f8ff;
  margin-left:22vw;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.right_back{
  width:25vw;
}

.warn{
  color:red;
}